body {
    font-family: Arial, sans-serif;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    transition: all ease-in-out 0.5s;
}

td:hover {
    background-color: #f2f2f2;
}

th:hover {
    background-color: #d4d2d2;
}
button:hover{
    transition: all ease-in-out 0.5s;
    scale: 1.1;
    background-color: #131313f1;
    color: #ffffff;
}